<div class="row">
  <% if current_user %>
  <%= title 'Profiel' %>
  <p>
    <strong>Name:</strong>
    <%= current_user.name %>
  </p>
  <p>
    <strong>Provider:</strong>
    <%= current_user.provider %>
  </p>
  <p>
    <strong>OmniAuth UID:</strong>
    <%= current_user.uid %>
  </p>
  <p><%= link_to "Log out", signout_path %></p>
<% else %>
<%= title 'Inloggen' %>
<div class="span6">
  <div class="auth_providers">
   <p><strong>Log in met behulp van de volgende diensten:</strong></p>
    <a href="/auth/twitter" class="auth_provider">
      <%= image_tag "twitter_64.png", size: "64x64", alt: "Twitter" %>
    </a>
    <a href="/auth/facebook" class="auth_provider">
      <%= image_tag "facebook_64.png", size: "64x64", alt: "Facebook" %>
    </a>
  </div>
</div>
  
      <div class="span8">
      <div class="input_fields">
      <p>
        <strong>Gebruik je geen Twitter of Facebook?</strong>
        <%= link_to "Registreer je nu", new_identity_path %> of login:
      </p>
      <div class="fieldsin">
        <%= form_tag "/auth/identity/callback", :class => 'form-stacked' do %>
          <%= label_tag :auth_key, "E-mail" %>
          <%= text_field_tag :auth_key %>
          <%= label_tag :password %>
          <%= password_field_tag :password %>
          <div class="loginfield">
            <%= submit_tag "Login" %> 
          </div>
      </div>
      <% end %>
<% end %>
</div>
