<p id="notice"><%= notice %></p>

<p>
	<%= link_to image_tag(@comment.user.picture_url, {:height => 35}), @comment.user %><br />
	<%= link_to @comment.user.name, @comment.user %>
</p>

<p>
  <%= best_in_place @comment, :message, {type: :textarea} %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
