Voeg een recept toe
<%= semantic_form_for @recipe do |f| %>
   <%= f.inputs do %>
      <%= f.input :name, :label => "Naam" %>
      <%= f.input :instructions, :label => "Instructies",  :as => :text, :input_html => { :rows => 13 } %>
      <%= f.input :preperation_time, :label => "Bereidingstijd" %>
      <%= f.input :course, :label => "Menugang", :as => :select, :collection => ["Amuse", "Voorgerecht", "Hoofdgerecht", "Bijgerecht", "Lunch", "Ontbijt"] %>

      Voeg ingredienten toe:
       <%= f.semantic_fields_for :ingredient do |i| %>
         <%= i.inputs do %>
           <div id="ingredients">
            <%= i.input :name, :label => "Naam" %>
            <%= i.input :quantity, :label => "Hoeveelheid" %>
           </div>
           <%= link_to_function "Voeg ingredient toe", "addIngredient()" do |page| 
            page.insert_html :bottom, :ingredients
           end %>

          <% end %>
        <% end %>

      <%= f.buttons %>
    <% end %>
<% end %>
