
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :instructions %><br />
    <%= f.text_area :instructions %>
  </div>
  <div class="field">
    <%= f.label :preperation_time %><br />
    <%= f.time_select :preperation_time %>
  </div>
  <div class="field">
    <%= f.label :course %><br />
    <%= f.text_field :course %>
  </div>
  <%= f.fields_for :ingredients do |builder| %>
    <p>
      <%= builder.label :item, "Ingredient" %><br />
      <%= builder.text_field :item, :rows => 3 %>
    </p>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
