
<%= semantic_form_for @recipe, :html => { :class => 'form-stacked'}, :validate => true do |f| -%>
<div class="row">
  <div class="span5">
  <p>Voeg een recept toe:</p>
     <%= f.inputs do %>
        <%= f.input :name, :label => "Naam" %>
        <%= f.input :instructions, :label => "Instructies",  :as => :text,  :input_html => { :rows => 10, :cols => 60, :resize => 'none'} %>
        <%= f.input :preperation_time, :label => "Bereidingstijd" %>
        <%= f.input :course, :label => "Menugang", :as => :select, :collection => ["Amuse", "Voorgerecht", "Hoofdgerecht", "Bijgerecht", "Lunch", "Ontbijt"] %>
      <% end %>
  </div>
  <div class="span4">
      <p>Voeg ingredienten toe:</p>
      <div id="ingredients-fields">
           <%= f.semantic_fields_for :ingredients do |i| %>
               <%= i.inputs do %>
                 <%= render 'ingredients/form', :i => i %>
               <% end %>
            <% end %>
            </div>
           <a class="add-ingredient-fields" href="#">add</a>


  </div>
  <div class="span4">
      <p>Voeg foto's toe</p>
       <%= f.semantic_fields_for :ingredients do |i| %>
         <%= i.inputs do %>
           <div id="ingredients">
            <%= i.input :name, :label => "Naam" %>
            <%= i.input :quantity, :label => "Hoeveelheid" %>
           </div>
          <% end %>
        <% end %>

           <%= link_to_function "Voeg ingredient toe", "addIngredient()" do |page| 
            page.insert_html :bottom, :ingredients
           end %>
  </div>
</div>
      <%= f.buttons do %>
        <%= f.commit_button :button_html => {:class => "primary"} %>
      <% end %>
    <% end %>