<%= link_to image_tag(item.post.user.picture_url, {:height => 45}), item.post.user %>
<div class="update-content">
	<div class="update-content-title">
		Toegevoegd door <%= link_to item.post.user.name, item.post.user %> <span class="update-time"><%= time_ago_in_words(item.created_at) %> ago</span>
	</div>
	<div class="update-content-text">
	<%= link_to item.name, item %> <br />
		<%=  item.description.nil? ? item.instructions.truncate(200) : item.description.truncate(200) %>
	</div>
</div>