<%= title "Listing Recipes" %>

<%= form_tag recipes_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil, :class => 'btn primary' %>
  </p>
<% end %>


<% @recipes.each do |recipe| %>
  <div class="update">
    <%= render 'recipe', :item => recipe %>
  </div>
<% end %>
<br />
<%= paginate @recipes, :window => 1 %>

<%= link_to 'New Recipe', new_recipe_path %>