<%= title "Alle recepten" %>

<%= form_tag recipes_path, :method => :get, :id => "recipes_search", :autocomplete => 'off' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil, :class => 'btn primary' %>
  </p>
<% end %>

<div id="recipes-index"><%= render 'recipes' %></div>

<%= link_to 'New Recipe', new_recipe_path %>