<p id="notice"><%= notice %></p>

<p>
	<%= link_to image_tag(@recipe.post.user.picture_url, { :height => 35 }), @recipe.post.user %>
	Recept door <b><%= link_to @recipe.post.user.name, @recipe.post.user %></b>
</p>

<p>
  <b>Name:</b>
  <%= @recipe.name %>
</p>

<p>
  <b>Instructions:</b>
  <%= @recipe.instructions %>
</p>

<p>
  <b>Preperation time:</b>
  <%= @recipe.preperation_time %>
</p>

<p>
  <b>Course:</b>
  <%= @recipe.course %>
</p>

<% if current_user %>
	<p>
		<b>Bericht toevoegen:</b>
	</p>
	<%= render 'comments/form' %>
<% end %>

<% # Listed comments %>
<p>
	<b>Comments:</b>
</p>
<%= render @recipe.comments.where('user_id IS NOT NULL') %>

<% # Action links %>
<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %> 
