<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @recipe.name %>
</p>

<p>
  <b>Instructions:</b>
  <%= @recipe.instructions %>
</p>

<p>
  <b>Post:</b>
  <%= @recipe.post_id %>
</p>

<p>
  <b>Preperation time:</b>
  <%= @recipe.preperation_time %>
</p>

<p>
  <b>Course:</b>
  <%= @recipe.course %>
</p>

<p>
	<b>Bericht toevoegen:</b>
</p>
<%= render 'comments/form' %>


<%= render @recipe.comments %>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %> |
<%= link_to 'Comment', comment_path(@recipe) %>