<td><%= name %></td>
<td><%= instructions %></td>
<td><%= post_id %></td>
<td><%= preperation_time %></td>
<td><%= course %></td>

<td><a href="#/<%= id %>">Show</td>
<td><a href="#/<%= id %>/edit">Edit</td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>