<p>
  <b>Name:</b>
  <%= name %>
</p>

<p>
  <b>Instructions:</b>
  <%= instructions %>
</p>

<p>
  <b>Post:</b>
  <%= post_id %>
</p>

<p>
  <b>Preperation time:</b>
  <%= preperation_time %>
</p>

<p>
  <b>Course:</b>
  <%= course %>
</p>


<a href="#/index">Back</a>