<%= form_for @profile_picture, :html => {:multipart => true} do |f| %>
  <% if @profile_picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile_picture.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @profile_picture.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.file_field :profimage %>
  </div>
  <div class="actions">
    <%= f.submit :Update %>
  </div>

<% end %>