<% title 'Profiel' %>
<% user = @user %>
<<<<<<< HEAD
<%= image_tag user.picture_url(:thumb) %><br>
=======
<%= image_tag user.image_url %><br>
>>>>>>> 960128c1e616d5fc53d1db8b553017797951ff54
<% if current_user == user %>
<%= link_to 'Wijzig Profiel Foto', edit_user_path(@user) %>
<% end %>
<p>
	<b>Naam:</b>
	<%= user.name %>
</p>

<h2>Volgt</h2>
<ul>
  <% @user.friendships.each do |friendship| %>
    <li>
      <%= link_to friendship.friend.name %>
      <%= link_to "remove", friendship, :method => :delete %>
    </li>
  <% end %>
</ul>

<h2>Gevolgd door</h2>
<ul>
  <% for user in @user.inverse_friends %>
    <li><%= link_to user.name, user %></li>
  <% end %>
</ul>