<% title 'Profiel' %>
<% user = @user %>
<%= image_tag @profile_picture.profimage_url(:ava).to_s if user.profimage? %>
<p>
	<b>Naam:</b>
	<%= user.name %>
</p>

<h2>Volgt</h2>
<ul>
  <% @user.friendships.each do |friendship| %>
    <li>
      <%= link_to friendship.friend.name %>
      <%= link_to "remove", friendship, :method => :delete %>
    </li>
  <% end %>
</ul>

<h2>Gevolgd door</h2>
<ul>
  <% for user in @user.inverse_friends %>
    <li><%= link_to user.name, user %></li>
  <% end %>
</ul>

<%= link_to 'Wijzig Profiel Foto', edit_user_path(@user) %>