<% unless item.user.nil? %>
	<div class="timeline-item">
		<p>
			<% unless item.user.picture_url.nil? %>
				<%= image_tag item.user.picture_url, {:height => 35} %>
			<% end %>
			<b><%= item.user.name %></b>
			heeft gereageerd op het recept <b><%= item.recipe.name %></b> van
			<b><%= item.recipe.post.user.name %></b>
		</p>
		<p style="padding-left: 10px;">
			<%= item.message %>
		</p>
	</div>
<% end %>