<h1>Listing recipe_cookbooks</h1>

<table>
  <tr>
    <th>Cookbook</th>
    <th>Recipe</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @recipe_cookbooks.each do |recipe_cookbook| %>
  <tr>
    <td><%= recipe_cookbook.cookbook_id %></td>
    <td><%= recipe_cookbook.recipe_id %></td>
    <td><%= link_to 'Show', recipe_cookbook %></td>
    <td><%= link_to 'Edit', edit_recipe_cookbook_path(recipe_cookbook) %></td>
    <td><%= link_to 'Destroy', recipe_cookbook, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Recipe cookbook', new_recipe_cookbook_path %>
