<%= form_for(@recipe_picture) do |f| %>
  <% if @recipe_picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe_picture.errors.count, "error") %> prohibited this recipe_picture from being saved:</h2>

      <ul>
      <% @recipe_picture.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :recipe_id %><br />
    <%= f.number_field :recipe_id %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
