<p id="notice"><%= notice %></p>

<p>
  <b>Foto:</b>
  <%= image_tag @recipe_picture.image_url(:recpic).to_s %>
</p>

<p>
  <b>Recipe:</b>
  <%= @recipe_picture.recipe_id %>
</p>

<p>
  <b>Title:</b>
  <%= @recipe_picture.title %>
</p>


<%= link_to 'Edit', edit_recipe_picture_path(@recipe_picture) %> |
<%= link_to 'Back', recipe_pictures_path %>