<div class="topbar">
	<% user = @user %>
	<% if current_user %>
		  <div class="topbar-inner">
	          <%= link_to 'Recepten', root_path, {class: 'brand'} %>
	          <ul class="nav">
	          	<li><%= link_to 'Tijdlijn', timeline_path %></li>
	          	<li><%= link_to 'Gebruikers', users_path %></li>
	          	<li><%= link_to 'Recepten', recipes_path %></li>
	          </ul>
	       		<form class="pull-left" action="">
	       	 		<input type="text" placeholder="Search">
	      		</form>
	          <h2 class="current-user">
		          <%= image_tag current_user.image_url %>
		          <span class="name">
			          Ingelogd als <%= current_user.name %>
		          	(<%= link_to "Log uit", signout_path %>)
		          	</span>
	          </h2> 
	        </div>
	      </div>
		<% else %>
		  		  <div class="topbar-inner">
	          <a class="brand" href="#">imCooking</a>
	          <ul class="nav">
	          </ul>
	          <h2 class="current-user">
	          	<%= link_to 'Inloggen', signin_path %>
	          </h2>
	        </div>
	      </div>
	<% end %>
</div>