<!DOCTYPE html>
<html>
<head>
  <title>Recepten</title>
  <%= stylesheet_link_tag    "application", "formtastic", "formtastic_changes" %>
  <%= javascript_include_tag "application", "defaults" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/menu' %>
	<div class="container">
		<%= yield %>
	</div>
</body>
</html>
