<!DOCTYPE html>
<html>
<head>
  <title>Recepten</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", "defaults" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="topbar">
      <div class="fill">
        <div class="container">
        <%= render 'layouts/menu' %>
      </div>
    </div>
  </div>
	<div class="container">
	<h1><%= yield(:title) %> </h1>
      <div class="content">
        <div class="page-header">
		<%= yield %>
	</div>
</body>
</html>
